/* Place CSS styles here */


.Navi-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: 24px;
}

.Headline {
    background-color: #F2a97e;
    justify-content: space-between;
    display: grid;
    max-height: 800px;
    padding: 20px
}
.Headline-img {
    width: 500px;
    height: auto;
}

.Featured-Row {
    background-color: #e6e6e6;
    padding: 20px 50px 20px 50px;
}

.Featured-Row-Tiles {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

#feature {
    border: 3px solid #ac7e66;
    object-fit: cover;
    width: 400px;
    height: 500px;
}

.Footer {
    display: flex;
    justify-content: space-between;
    background-color: #e6e6e6;
    padding: 10px 30px 10px 30px;
}

h1 {
    font-size: 50px;
    Font-Family: 'Cinzel';
    
}

h2 {
    font-size: 20px;
    Font-Family: 'Cinzel';
    
}

p {
    font-size: 18px;
    Font-Family: 'Fauna One', Serif;
    
}